%form{method: 'post', action: ((action == 'fork') ? '/apps' : app.url())}
  %input{type: 'hidden', name: 'parent', value: app.parent}
  %p
    %strong Address
    %br/
    = host
    /
    %input{name: 'slug', value: app.slug}
    :if app.errors['slug']
      %span.error
        = app.errors['slug']
    
  %p
    %strong Code
    %br/
    %textarea{name: 'code', rows: 20, cols: 70}
      = app.code
    
  %p
    %input{type: 'submit', value: ((action == 'fork') ? 'Create' : 'Save')}