%script{src: '/public/vendor/edit_area/edit_area_loader.js'}
%script{src: '/public/javascripts/editor.js'}

%form{method: 'post', action: ((action == 'fork') ? '/apps' : app.url())}
  %input{type: 'hidden', name: 'parent', value: app.parent}
  %p
    %strong Address
    %br/
    = host
    /
    :if (action == 'fork')
      %input{name: 'slug', value: app.slug}
      :if app.errors['slug']
        %span.error
          = app.errors['slug']
    :if (action == 'edit')
      = app.slug    
  %p
    %strong Code
    %br/
    %textarea{id: 'code', name: 'code'}
      = app.escapedCode()
    
  %p
    %input{type: 'submit', value: ((action == 'fork') ? 'Create' : 'Save')}