%p What if you could fork your email web app with one click? What if you could change a single line of code and have your new app instantly deployed with another click, with seamless access to all of your data? What if you could instantly share your changes with the upstream developers? What if they could merge your change and deploy it to their users in seconds? What if you could effortlessly invite your friends to use your fork, without having to maintain your own servers?  

%p
  %em How much more awesome code would you write?

%h1 Forkolator is a frictionless platform for hosting, developing, and sharing open source web apps.

%ul
  %li
    %a{href: "/start"} Fork the example app
  %li
    %a{href: "https://github.com/erikpukinskis/forko3"} Get the code

%p 
  So far all we have is a simple HTML hosting and editing server build in Node.js.  The next step is to 
  add a datastore and an authentication server. 
  %a{href: 'http://groups.google.com/group/forkolator'} Join the fray
  .