%p What if you could fork your web-based email app with one click? What if you could change a line of code and deploy that change with another click?  What if all of your data was seamlessly available in the new version?  What if you could instantly share your tweak with the upstream developers? What if they could merge your changes and deploy them to their users in seconds? What if you could effortlessly invite your friends to use your fork, without having to maintain your own servers?  

%p
  %em How much more awesome code would you write?

%h1 Forkolator is a frictionless platform for hosting, developing, and sharing open source web apps.

%ul
  %li
    %a{href: "/start"} Fork the example app
  %li
    %a{href: "https://github.com/erikpukinskis/forko3"} Check out the platform code
  %li
    %a{href: 'http://groups.google.com/group/forkolator'} Mailing list
  %li
    %a{href: "http://twitter.com/forkolator"} Twitter

%p 
  So far all it is is a proof of concept, hacked together in a day: a simple HTML hosting 
  and editing server build in Node.js, with a stock CouchDB server, and a demo wiki app.  The 
  next big priority is some sort of authentication server and revision management.
  %a{href: 'http://groups.google.com/group/forkolator'} Join the fray
  .