%html
  %head
    %title Forko3
    %link{href: 'http://fonts.googleapis.com/css?family=Merriweather', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/public/stylesheets/screen.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'https://www.google.com/jsapi?key=ABQIAAAAV8od13bCB_S6FuQjmkftbhTYtbb_g2t-fBJubanFsUbFy8Tl4RRD53co23QQSPg9cdxT0bZsLfuDBg', type: 'text/javascript'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    :css
      body {
        font-family: 'Merriweather', arial, serif;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px; 
      }
      
      p {
        line-height: 1.8em; 
      }
      .error {
        color: red; 
      }
      
  %body= body